.formBlock {
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 500;
  max-width: 180px;
  display: block;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(188, 240, 250);
  box-shadow: 3px 3px 3px rgb(116, 116, 160);
}

.inputForm {
  max-width: 160px;
  padding: 2px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.inputForm:focus {
  outline: none;
  box-shadow: 3px 3px 3px rgb(116, 116, 160);

}

.addContactButton {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  border: none;
  background-color: rgb(116, 187, 201);
  box-shadow: 3px 3px 3px rgb(116, 116, 160);
}

.addContactButton:hover {
  background-color: rgb(109, 109, 172);
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(116, 116, 160);
}