.formBlock {
  margin: 20px auto;
  font-size: 16px;
  font-weight: 500;
  max-width: 240px;
  display: block;
}

.addContactInput {
  display: flex;
}

.addContactButton {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}