.form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.loginInput {
  display: flex;
}

.loginTitle {
  margin-top: 20px;
  text-align: center;
}

.loginButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}