.form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.registerInput {
  display: flex;
}

.registerTitle {
  margin-top: 20px;
  text-align: center;
}

.registerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}