.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  color: rgb(116, 187, 201);
  font-weight: 700;
}

.logOutButton {
  color: white;
  font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 10px;
    border: none;
    background-color: rgb(116, 187, 201);
    /* box-shadow: 3px 3px 3px rgb(116, 116, 160); */
}

.logOutButton:hover {
  background-color: rgb(109, 109, 172);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(116, 116, 160);
}